/*Generelt*/
@import url('https://fonts.googleapis.com/css?family=Dosis');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

h3{
  font-family: Dosis;
  margin: 5px 10px;
}

p{
  font-family: Dosis;
  margin: 5px 10px;
}

/*Header*/
header{
  height: auto;
  background-color: #F0F0F0;
  border-bottom: 5px solid #4A708B;
}

.logo{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  position: relative;
}

.language{
  position: absolute;
  right: 5px;
}

.sprog{
  padding: 5px;
}

.kurv{
  width: 10%;
  float: right;
  margin-left: 5px;
  margin-right: 10px;
}

.profil{
  width: 9%;
  float: right;
  margin-right: 5px;
}

/*Navigationsbar Mobil*/
.burger{
  width: 10%;
  margin-left: 10px;
}

/*Navigationsbar Desktop*/
nav{
  justify-content: space-between;
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  justify-content: flex-start;
}

li {
  font-weight: bold;
  font-size: 1.2em;
  padding: 20px 40px;
}

li a {
  color: black;
  text-decoration: none;
  font-family: Dosis, sans-serif;
}

/*Aktuelle side*/
.current{
  font-size: 1.7em;
}

.current a{
  color: rgb(118, 147,55);
}


/*Footer Mobil*/
footer{
  background-color: #F0F0F0;
  border-top: 5px solid #4A708B;
  margin-top: 150px;
}

.footerMobil{
  display: flex;
  justify-content: space-around;
}

.desktopFooter{
  display: none;
}

.social{
  width: 15%;
  position: relative;
  left: 65%;
}

.browse{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/*Søg & Find*/
input{
  margin: 5px;
  border: 1px solid black;
  width: 50%;
  font-family: Dosis, sans-serif;
}

select{
  margin: 5px;
  border: 1px solid black;
  width: 50%;
  font-family: Dosis, sans-serif;
}

/*Min Profil siden*/
.billet{
  width: 95%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.lignende{
  font-family: Dosis, sans-serif;
  margin: 5px 10px;
  float: right;
  color: #4A708B;
}

.profilWrapper{
  margin-top: 40px;
}

.profilMenu{
  font-family: Dosis, sans-serif;
  margin: 5px 10px;
  line-height: 50px;
  color: black;
  text-decoration: none;
  text-shadow: 1px 1px 1px #4A708B;
}

.ticket {
  margin-top: 10px;
}

/*Media Query Desktop*/
@supports (grid-area: auto) {
  @media screen and (min-width: 600px) {
    #home {
      display: grid;
      grid-template-columns: 10% 40% 40% 10%;
      grid-template-areas:
              "header header header header"
              ". Browse Browse ."
              ". Sec2 Sec3 ."
              "footer footer footer footer";
    }

    /*Vises ikke*/
    .burger{
      display: none;
    }

    /*Header & Navigation*/
    nav{
      display: inline;
    }

    ul{
      display: inline-flex;
    }

    .kurv{
      width: 6%;
      margin-left: 15px;
      margin-right: 30px;
    }

    .profil{
      width: 5%;
      margin-right: 15px;
    }

    .logo{
      width: 18%;
    }

    /*Footer*/
    .mobilFooter{
      display: none;
    }

    .desktopFooter{
      display: flex;
      justify-content: space-around;
    }

    .socialLinks{
      width: 10%;
    }

    .social{
      width: 48%;
    }

    /*Grid Areas*/
    header{
      grid-area: header;
      width: 100%;
    }

    .browse{
      grid-area: Browse;
    }

    footer{
      grid-area: footer;
    }

  }
}

/*Media Query Desktop*/
@supports (grid-area: auto) {
  @media screen and (min-width: 600px) {
    #profile {
      display: grid;
      grid-template-columns: 10% 40% 40% 10%;
      grid-template-areas:
              "header header header header"
              ". Browse Browse ."
              "Menu Min Min ."
              "footer footer footer footer";

      .profil {
        margin-bottom: 1%;
      }

      .billet {
        width: 60%;
      }

      .mineBilletter {
        grid-area: Min;
        text-align: center;
        margin-top: 20px;
      }

      .profilWrapper {
        grid-area: Menu;
        position: absolute;
        top: 40%
      }


       }
      }
    }

/*Media Query Desktop*/
@supports (grid-area: auto) {
  @media screen and (min-width: 600px) {
    #tickets {
      display:grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-areas:
              "header header header"
              "rasmus capark firework"
              "whiskey krok lilholt"
              "footer footer footer";
    }
  }
}